<mat-card>
  <mat-card-title>
    Companies
  </mat-card-title>
  <form [formGroup]="searchForm">
    <mat-icon>search</mat-icon>
    <mat-form-field class="search-field">
      <input type="text" matInput placeholder="Search" formControlName="search">
    </mat-form-field>
  </form>
  <mat-card-content>
    <mat-tab-group>
      <mat-tab label="For profit">
        <mat-spinner *ngIf="(loading$ | async)"></mat-spinner>
        <mat-accordion>
          <mat-expansion-panel *ngFor="let company of (forProfit$ | async)">
            <mat-expansion-panel-header>
              <mat-panel-title>{{ company.companyName }}</mat-panel-title>
              <mat-panel-description>{{ company.buzz | capitalize }}</mat-panel-description>
            </mat-expansion-panel-header>
            <div class="flex">
              <span>Address</span>
              <div class="address">
                <span>{{ company.address.street }}</span>
                <span>{{ company.address.city }}</span>
                <span>{{ company.address.state }}</span>
                <span>{{ company.address.zip }}</span>
              </div>
            </div>
            <mat-action-row>
              <button mat-flat-button color="primary" routerLink="{{ company.id }}">EDIT</button>
            </mat-action-row>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-tab>
      <mat-tab label="Non-profit">
        <mat-spinner *ngIf="(loading$ | async)"></mat-spinner>
        <mat-accordion>
          <mat-expansion-panel *ngFor="let company of (nonProfit$ | async)">
            <mat-expansion-panel-header>
              <mat-panel-title>{{ company.companyName }}</mat-panel-title>
              <mat-panel-description>{{ company.buzz | capitalize }}</mat-panel-description>
            </mat-expansion-panel-header>
            <div class="flex">
              <span>Address</span>
              <div class="address">
                <span>{{ company.address.street }}</span>
                <span>{{ company.address.city }}</span>
                <span>{{ company.address.state }}</span>
                <span>{{ company.address.zip }}</span>
              </div>
            </div>
            <mat-action-row>
              <button mat-flat-button color="primary" routerLink="{{ company.id }}">EDIT</button>
            </mat-action-row>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
